.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my styles */
*{
  font-family: sans-serif, serif,arial
}
html {
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: none;
  background-color: var(--bg-color);
  top: 150px;
}
#code{
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  width: 20vw;
  padding-left: 20vw
}
h1{
  padding-top: 0.5%;
  font-size: 60px;
  text-align: center
}
#name{
  height: 200px;
  display: block
}
#name p{
  text-align: center;
  font-size: 50px
}
:root {

    --font-color: #0f0f0f;
    --bg-color: #f6ecde;

}

[data-theme="dark"] {

    --font-color: #fefefe;
    --bg-color: #9c867b;
}

.switch {
    height: 100px;
    right: 50px;
    top: 50px;
    text-align: center;
/*    background-color: green*/
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#dp{
  width: 20vw;
  padding-left: 15vw
}